@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;0,700;0,900;1,700&display=swap");

@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.teacher {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  letter-spacing: -0.04em;
}

/* Course and video player */

.wrap-courseCategories {
  margin-bottom: 1rem;
  margin-left: -1rem;
}

video {
}
video:focus {
  outline: none;
}

.courseWindow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 90%;
  /* height: 377px; */
}

.chapterSelector {
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: visible;
}

.videoPlayer {
  border-radius: 11px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.chapterCard {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  width: 350px;
  height: 60px;
  margin-bottom: 10px;
  background-color: #14181d;
}

/* .chapterCard:nth-child(uneven) {
  margin-bottom: 10px;
} */

.flexwrapButton {
  width: 90px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.flexwraptext {
  box-sizing: border-box;
  width: 260px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  overflow: visible;
}

.containerCourseIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 2rem;
  width: 90%;
}

.courseIntroContent {
  font-family: "Inter-Light", "Inter", sans-serif;

  font-size: 14px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 300;
}

.textStyle1 {
  flex-shrink: 0;
  overflow: hidden;
  color: #e0e0e0;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 300;
}

.textStyle2 {
  color: #e0e0e0;
  letter-spacing: 0px;
  line-height: 1.2;
  font-size: 12px;
  font-weight: 500;
  margin-top: 4px;
}

.presents-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.presents-copy {
  /* color: #d4d1d1;
  font-weight: 800;
  letter-spacing: 1px; */
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 500;
}

.coursename {
  margin-top: 10rem;
  font-size: 88px;
}

.teacher {
  font-weight: 600;
  font-size: 18px;
  color: #fafafa;
  text-transform: uppercase;
  opacity: 1;
}

/* Video player */
.circle {
  z-index: 3;
  width: 75px;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: visible;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
  background-color: #171717;
  opacity: 0.9;
  border-radius: 45px;
  position: absolute;
}

.videobutton-svg {
  padding-left: 4px;
  overflow: visible;
}

/* General styling */

.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a,
h1,
h2,
h3,
p,
span,
code,
div {
  color: white;
}

.min-h-screen {
  background-color: #0a1013;
  min-height: 150vh;
}

h1 {
  /* font-family: "Source Serif Pro", serif; */
  font-size: 60px;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 100%;
}

h2 {
  font-family: "Source Serif Pro", serif;
  color: #fafafa;
  font-size: 72px;
  line-height: 1;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.04em;
}

li {
  list-style: none;
  cursor: pointer;
  float: left;
  display: block;
  color: #eaeaea;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-weight: 400;
}

ul {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  margin-left: 0.5rem;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

svg {
  cursor: pointer;
}
